/* 

font-family: Radio Canada, sans-serif;

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

@font-face {
    font-family: Radio Canada;
    src: url("../fonts/Radio_Canada/RadioCanada-Italic-VariableFont_wdth\,wght.ttf");
}


